@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

#rgbKineticSlider {
    position: relative;
    height: 100vh;
}

#rgbKineticSlider canvas {
    position: absolute;
}

nav .main-nav {
    position: absolute;
    color: #fff;
    top: 50%;
}
nav .prev {
    left: 10%;
}
nav .next {
    right: 10%;
}
nav i {
    color: #fff;
    font-size: 50px;
    
}